@charset 'utf-8';

@import '../../common/css/import/_define';


.htpasswd_box {
	position: relative;
}

.copy_link {
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
	font-size: 12px;
	background: #cdd5e0;
	padding: 3px 5px;
	display: block;
	border-radius: 3px;
	&.copied {
		&::before {
			@keyframes copied {
				0% {
					display: block;
					opacity: 1;
				}
				99% {
					display: block;
					opacity: 0;
				}
				100% {
					display: none;
				}
			}
			display: block;
			content: 'copied!';
			position: absolute;
			top: -20px;
			right: 0;
			left: 0;
			margin: auto;
			color: #cdd5e0;
			animation-duration: 3s;
			animation-name: copied;
		}
	}
}